<section
    class="landing-section bg-black h-screen w-full text-center relative overflow-hidden flex flex-col justify-between"
    data-header-color="white"
    >
    <header class="z-30 relative">
        <h2 class="text-white pt-[200px] text-4xl font-medium">Lorem ipsum</h2>
        <p class="text-white text-sm text-pretty">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi
            quidem doloribus dolores possimus!.
        </p>
    </header>

    <footer class="z-30 relative pb-24">
        <a
            class="border-[3px] border-white rounded font-medium px-8 py-2 inline-block text-white hover:bg-white hover:text-black transition-colors duration-300 bg-white/5 backdrop-blur-md ease-in"
            href="#"
        >
            Acceder
        </a>
    </footer>

    <div class="absolute top-0">
        <video
            class="h-screen w-screen object-center object-cover"
            autoplay
            muted
            loop
            src="/video.webm"></video>
    </div>
</section>
