<section
    class="landing-section bg-black h-screen w-full text-center relative overflow-hidden flex flex-col justify-between"
    data-header-color="black"
    >
    <header class="z-30 relative">
        <h2 class="text-black pt-[200px] text-4xl font-medium">Lorem ipsum</h2>
        <p
            class="inline-block border-b-2 border-black text-black text-sm text-pretty"
        >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi
            quidem doloribus dolores possimus!.
        </p>
    </header>

    <div class="flex flex-col overflow-hidden">
        <footer class="z-30 relative pb-5">
            <a
                class="bg-white mr-10 text-black rounded bg-grey font-medium px-10 py-2 inline-block hover:bg-gray-600 hover:text-white"
                href="#"
            >
                Acceder
            </a>
            <a
                class="bg-gray-600 text-white rounded bg-grey font-medium px-10 py-2 inline-block"
                href="#"
            >
                Acceder
            </a>
        </footer>
        <p class="text-black z-30 pb-28">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit
        </p>
    </div>

    <div class="absolute top-0">
        <img
            src="/primera.avif"
            class="bg-white h-screen w-screen object-center object-cover"
        />
    </div>
</section>
